<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% if error %}
            <div class="error">Your password and username doesn't match</div>
        {% endif %}
        <input type="text" name="username" id="username" placeholder="Enter your username" value="{{ username }}">
        <br>
        <input type="password" name="password" id="password" placeholder="Password">
        <br>
        <input type="submit" value="Sign in">

        {% csrf_token %}
    </form>
</body>
</html>