{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barter - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>

    <header>
      <div class="header">
        <img class="logo-image" src="{% static 'images/logo.png' %}" alt="logo">
        <p>Barter</p>
      </div>
    </header>

    <main>
      <div class="formdiv d-flex flex-column align-items-center">
        <h3>Create an account</h3>
        <div>
        <form action="" method="post">
          <div id="data">

            <div class="fullname">
              <input type="text" name="fullname" id="fullname" placeholder="Full Name" required />
              <span class="help fullname"></span>
            </div>

            <div class="username">
              <input type="text" name="username" id="username" placeholder="Username" required />
              <span class="help username"></span>
            </div>

            <div class="email">
              <input type="email" name="email" id="email" placeholder="Email" required/>
              <span class="help email"></span>
            </div>

            <div class="phone">
              <input type="tel" name="phone" id="phone" placeholder="Phone Number" required = True>
            </div>
            
            <div class="password">
              <input type="password" name="password" id="password" placeholder="Password" required/>
              <br>
            </div>
            <div>
              <input type="password" name="confirm" id="confirm" placeholder="Confirm password" required />
              <span class="help password"></span>
            </div>
            
            <p>
              By signing up, you are agreeing to Barter's terms of 
              services and privacy policy.
            </p>
            <div class="button">
              <input type="submit" value="Sign up" id="submit">
            </div>
            <p>Already have an account?  <a href={% url 'login' %}>Sign in</a></p>
          </div>

          <div id="verification" style="display: none">
            <input id="code" type="text" name="code" placeholder="Enter the code" required />
            <input id="verify" type="submit" value="Verify"/>
            <span class="help verification"></span>
          </div>

          {% csrf_token %}
        </form>
      </div>
      </div>
    </main>

    <footer>
      &copy; 2022, Barter. All Rights Reserved.
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
