{% extends 'base.html' %}

{% block main_content %}

    <section class="left">

        <form action="" method="post" enctype="multipart/form-data">

            <div class="profile_picture">
                <img src="{{ request.user.profile_picture.url }}" alt="Profile picture">
                <button>Edit icon </button> <!-- the button which opens the file open-->
            </div>

            <div class="other_fields">

                <h2>Edit Profile</h2>

                <div class="fullname">
                    <input type="text" name="fullname" id="fullname" value="{{ request.user.fullname|capfirst }}" required/>
                </div>

                <div class="phone">
                    <input type="tel" name="phone" id="phone" placeholder="Phone Number" value="{{ request.user.phone }}" required>
                </div>

                <div class="bio">
                    <h3>Bio</h3>
                    <input type="text" name="bio" id="bio" value="{{ request.user.bio }}">
                </div>

                <div class="company">
                    <h3>Company Name</h3>
                    <input type="text" name="company" id="company" value="{{ request.user.company }}">
                </div>

            </div>

            <button type="submit">Save Changes</button>

        </form>

    </section>

    <section class="right">

        <div class="post_button">
            <button>POST</button>
        </div>

        <div class="posts">
            {% if not request.user.posts %}
                <p>Your don't have any post.</p>
            {% else %}
                    
                {% for post in request.user.posts.all %}
                    <div class="post" style="border-radius: 10px; box-shadow: 0 0 10px gray;">
                        <div class="poster">Poster: {{ post.poster.fullname|capfirst}}</div>
                        <div class="category">Category: {{ post.category|capfirst }} </div>
                        <div class="name">Commodity Name: {{ post.commodity_name }}</div>
                        <div class="description">Description: {{ post.description }}</div>
                        <img src="{{ post.image.url }}" alt="post image" style="width: 150px; height: 150px;">
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    </section>

{% endblock main_content %}