{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.fullname }}'s post</title>
</head>
<body>

    <header>
        <div class="logo">
            Barter
        </div>
        <div class="title">
            {% if is_create %}
                <h1> Create a post</h1>
            {% else %}
                <h1>Edit your post</h1>
            {% endif %}
        </div>
    </header>

    <main>
        <form action="" method="post" enctype="multipart/form-data">

            <div class="category">
                <label for="category">Category: </label>
                <select name="category" required id="category">
                    <option selected value="{{ post.category }}">{{ post.category|capfirst}}</option>
                    {% for value, name in post.CATEGORIES %}
                        <option value="{{value}}">{{name}}</option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="commodity_name">
                <input type="text" name="commodity_name" maxlength="50" required id="commodity_name" value="{{ post.commodity_name }}" placeholder="Commodity Name">
            </div>
    
            <div class="description">
                <textarea name="description" cols="40" rows="10" maxlength="500" required id="description"> {{ post.description }} </textarea>
            </div>
    
            <div class="image">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="post image">
                {% endif %}
                <input type="file" name="image" accept="image/*" required id="image">
            </div>
    
            {% if is_create %}
                <input type="submit" value="Post">
            {% else %}
                <input type="submit" value="Edit">
            {% endif %}
            
            {% csrf_token %}
    
        </form>
    </main>

    <footer>
        All rights reserved, Barter
    </footer>
</body>
</html>