@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

header {
  background-color: #1d4365;
  margin-bottom: 5vh;
}
.header {
  width: 25%;
}

.header {
  font-family: "Rochester", cursive;
  font-size: 2em;
}
